{% extends "home/main.html" %}{%block title %}QQ号码测吉凶{% endblock %}{% block slogan %}{{slogan}}{% endblock %} {% block css
    %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/lssdjt.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/duanzi.css')}}"> {% endblock %} {% block content %}
    <div class="container qqsm">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="title">
                            <h2>QQ号码测吉凶</h2>
                        </div>
                        <div class="inform">
                            <form method="post" action="" name="buyiju" onsubmit="return submitchecken();">
                                QQ号码：
                                {{form.qqtext}}
                                {{form.qqsubmit}}
                            </form>
                        </div>
                        <div class="alert alert-warning alert-dismissible" style="display:none;" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Warning!</strong> 请输入测试QQ号！
                        </div>
                        <div class="alert alert-warning alert-dismissible" style="display:none;" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Warning!</strong> QQ号必须是数字哦！
                        </div>
                        <div class="content">
                            <p>号码：<span class="color_red">{{qqnum}}</span></p>
                            <p>详解：{{result['desc']}}</p>
                            <p>分数：{{result['score']}}</p>
                            <p>吉凶：{{result['grade']}}</p>
                            <p>签语：{{result['analysis']}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% include "home/aside.html" %}
            </div>
        </div>
    </div>
    {% endblock %} {% block js %}
    <script>
        function submitchecken() {
            if (document.buyiju.qqtext.value == "") {
                var alert1 = document.getElementsByClassName('alert')[0];
                alert1.style.display = "";
                document.buyiju.qqtext.focus();
                return false;
            }
            if (/^[0-9]*$/.test(document.buyiju.qqtext.value)) {
                return true;
            } else {
                var alert2 = document.getElementsByClassName('alert')[1];
                alert2.style.display = "";
                document.buyiju.qqtext.focus();
                return false;
            }
        }
        var inputqqtext = document.buyiju.qqtext;
        inputqqtext.addEventListener('input', function () {
            document.getElementsByClassName('alert')[0].style.display = "none";
            document.getElementsByClassName('alert')[1].style.display = "none";
        })
    </script> {% endblock %}